.component-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
p{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
.result{
    font-size:30px;
}
