
form{
    background-color: #9A4143;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 3px 3px 6px black;
    margin-top:35%;
}
    
h4{
    margin:9px;
}
h4,label,input,select, button{
    color:white;
    margin: 10px;
    border-radius: 5px;
}
input, select{
    width:180px;
    color:#9A4143;
    border:none;
    box-shadow: 3px 3px 6px black;
}
div > input{
     width:63px;
     box-shadow: 3px 3px 6px black;
}
div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    background-color: #EE9521; 
    color: #9A4143;
    width: 100px;
    height:25px;
    border: none;
    box-shadow: 3px 3px 6px black;
}
