/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
html{
    margin: 0;
    padding: 0;
    background: url("./assets/images/background-image.png") fixed;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: cover;
}
    